.chat__textarea {
    transition: all .3s ease;
    background-color: rgba($color: $color__bg, $alpha: 0.6);

    &:focus {
        background-color: rgba($color: $color__bg, $alpha: 0.3);
    }
}

.chat__message-bubble {
    border-radius: 4px 4px 4px 0;
    color: #ffff;
    background-color: $color__highlight;
}

.chat__message-bubble_inverted {
    background-color: $color__bg;
}