.user-row {
    transition: all .3s ease;
    background-color: rgba($color: #000000, $alpha: 0);

    &:hover {
        @extend .user-row_active;
    }
}

.user-row_current {
    background-color: rgba(255,255,255,0.75);
    box-shadow: 10px 10px 20px 0 rgba($color: #000000, $alpha: 0.03);
    transition: all .3s ease;
}

.user-row_active {
    color: $color__default;
    background-color: #E6EBF5;
    box-shadow: none;
}

.user-avatar {
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: $color__highlight;
    box-shadow: 3px 3px 10px 0 rgba($color: #000000, $alpha: 0.2);
}

.user-avatar_inverted {
    color: $color__highlight;
    background-color: $color__bg;
    box-shadow: 3px 3px 10px 0 rgba($color: #000000, $alpha: 0.08);
}